.container, .lap
{
	background-color:#000;
}

#content
{
	margin-top:150px;
	padding-top:150px;
	overflow-x:scroll;
}

.container
{
	max-width:800px; 
    width: auto;	
	border:2px solid gray;
}

.lap
{
	padding:20px;
	color:#d3d3d3;
}

.container img, .lap
{
	float:left;
	max-width:760px;
    width: auto;
}