body
{
	width: 800px;
	margin: auto;
	background-color: #a79999;
}

.bold
{
	font-weight: bold;
	color: yellow;
}

h1
{
	font-variant-caps: all-small-caps;
}

p, li
{
	text-align: justify;
}

.container img
{
	margin: 20px;
}

a, a:visited
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: red;
}